.about p {
    margin-left: 120px;
}

.SettingsPane {
    margin-top:36px;
    margin-left:26px;
    margin-right:26px;
}

.SettingsTitle {
    margin-left: 36px;
}

.SettingsContent {
     margin-top: 24px;
}

#about {
      background-color: gray ; 
}

.purchase-button {
    width: 225px;
    height: 120px;
    margin-top: 24px;
    
}

